<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Login</title>
    <script
            src="http://code.jquery.com/jquery-3.2.1.min.js"
            integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
            crossorigin="anonymous"></script>
    <script src="js/bootstrap.min.js" ></script>

    <link rel="stylesheet" href="css/bootstrap.css" />
    <link rel="stylesheet" href="css/bootstrap-theme.min.css" />

    <style>
        .input-grp-wrapper {
            margin-bottom:20px;
        }
    </style>

</head>
<div th:replace="fragments/header :: header"></div>


<div class="container">
    <div th:if="${#authorization.expression('!isAuthenticated()')}" id="loginbox" style="margin-top:50px;" class="mainbox col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
        <div class="panel panel-info" >
            <div class="panel-heading">
                <div class="panel-title">Sign Up</div>
            </div>

            <div style="padding-top:30px" class="panel-body" >


                <form action="#" class="form-horizontal" role="form" name="form" th:action="@{/registration}" th:object="${userForm}" method="post">

                    <div class="input-grp-wrapper">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                            <input id="login-username" th:field="*{username}" type="text" class="form-control" name="username" value="" placeholder="username"/>
                        </div>
                        <label th:if="${#fields.hasErrors('username')}" th:errors="*{username}" class="errorText text-danger"/>
                    </div>


                    <div class="input-grp-wrapper">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                            <input id="login-password" th:field="*{password}" type="password" class="form-control" name="password" placeholder="password"/>
                        </div>
                        <label th:if="${#fields.hasErrors('password')}" th:errors="*{password}" class="errorText text-danger"/>
                    </div>


                    <div class="input-grp-wrapper">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                            <input id="login-password" th:field="*{passwordConfirm}" type="password" class="form-control" name="passwordConfirm" placeholder="password"/>
                        </div>
                        <label th:if="${#fields.hasErrors('passwordConfirm')}" th:errors="*{passwordConfirm}" class="errorText text-danger"/>
                    </div>


                    <div class="input-grp-wrapper">

                        <div  class="input-group">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-envelope"></i></span>
                            <input id="login-password" th:field="*{email}" type="email" class="form-control" name="email" placeholder="email"/>
                        </div>
                        <label th:if="${#fields.hasErrors('email')}" th:errors="*{email}" class="errorText text-danger"/>
                    </div>




                    <div class="form-group">
                        <!-- Button -->

                        <div class="col-sm-12 controls">
                            <input id="btn-login" class="btn btn-success" type="submit" value="Create"/>
                        </div>
                    </div>


                </form>
            </div>
        </div>
    </div>



</div>



<div th:replace="fragments/footer :: footer"></div>
</html>
