<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<title>Upload files</title>
	<script
			src="http://code.jquery.com/jquery-3.2.1.min.js"
			integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
			crossorigin="anonymous"></script>
	<script th:src="@{/js/bootstrap.min.js}" ></script>
	<script th:src="@{/js/dropzone.js}"></script>
	<script th:src="@{/js/myfunction.js}"></script>

	<link rel="stylesheet" th:href="@{/css/bootstrap.css}" />
	<link rel="stylesheet" th:href="@{/css/bootstrap-theme.min.css}" />
	<link rel="stylesheet" th:href="@{/css/dropzone.css}" />
	<link rel="stylesheet" th:href="@{/css/uploadfiles.css}" />

	<meta name="_csrf" th:content="${_csrf.token}"/>
	<!-- default header name is X-CSRF-TOKEN -->
	<meta name="_csrf_header" th:content="${_csrf.headerName}"/>
</head>
<body>
<div th:replace="fragments/header :: header"></div>

<div class="container">
	<div class="row">
		<div class="alert alert-info text-center info-msg" role="alert">
			<span th:text="#{upload-files.info-msg}"></span>
		</div>
	</div>
	<div class="row">
		<div class="col-md-4">
			<div id="files">
				<div th:align="center">
					<div>
						<span style="font-size:16px">
						<strong th:text="|Current path: ${currentPath}|"></strong>
					</span>
					</div>
					<span style="font-size:16px">
						<strong>Available files: </strong>
					</span>
					<a th:href="${parentDir}" class="btn btn-default" aria-label="Left Align">
									<span class="glyphicon glyphicon-arrow-up" aria-hidden="true">
									</span>
					</a>
				</div>
				<ul class="files-list">
					<li th:each="file : ${files}" th:id="${file.filename}">
						<div class="row">
							<div class="col-md-12">
								<a class="text-center file-link" th:href="${file.fullDownloadURL}" th:text="${file.filename}" />
								<button th:onclick="|removeFile('${file.removeURL}','${file.filename}');|" class="btn btn-default rel-button del-file" aria-label="Left Align">
									<span class="glyphicon glyphicon-remove" aria-hidden="true">
									</span>
								</button>
							</div>
						</div>
					</li>



				</ul>
			</div>
	</div>
		<div class="col-md-8">

	<div id="message">
	</div>
	<div>

		<form id="customDropzone" method="POST" th:action="|/uploadfiles/${currentPathEncoded}|" class="dropzone dz-clickable"><div class="dz-default dz-message"><span>Drop files here to upload</span></div>
			<input type="file" multiple="multiple" class="dz-hidden-input" style="visibility: hidden; position: absolute; top: 0px; left: 0px; height: 0px; width: 0px;" />
			<input type="hidden"
				   th:name="${_csrf.parameterName}"
				   th:value="${_csrf.token}"/>
		</form>


		<div id="dirform" >
			<div class="form-group">
				<label for="directoryNameInput">Directory name:</label>
				<input type="text" class="form-control" id="directoryNameInput" aria-describedby="directoryNameHelp" placeholder="Enter directory name"/>
				<small id="directoryNameHelp" class="form-text text-muted">Write directory name.</small>
			</div>

			<!--<input type="hidden"
				   th:name="${_csrf.parameterName}"
				   th:value="${_csrf.token}"/>-->
			<button th:onclick="|createDirectory('${currentPathEncoded}')|"  class="btn btn-primary">Submit</button>
		</div>

	</div>
		</div>


</div>
</div>
	<div th:replace="fragments/footer :: footer"></div>

</body>
</html>
